{% extends 'snippets/base.html' %}
{% block title %}
Tutorial / Snippets
{% endblock %}

{% block content %}        
        <h1>
            Snippets
        </h1>
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>title</td>
                    <td>code</td>
                    <td>linenos</td>
                    <td>language</td>
                    <td>created</td>
                </tr>
            </thead>
            <tbody>
                {% for snippet in snippets %}
                <tr>
                    <td>
                        {{ snippet.id }}
                    </td>
                    <td>
                        {{ snippet.title }}
                    </td>
                    <td>
                        <code>
                            {{ snippet.code }}
                        </code>
                    </td>
                    <td>
                        {{ snippet.linenos }}
                    </td>
                    <td>
                        <code>
                            {{ snippet.language }}
                        </code>
                    </td>
                    <td>
                        {{ snippet.created }}
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <h2>New snippet</h2>
        <form method="POST" >
            {% csrf_token %}
            {% load rest_framework %}
            {% render_form serializer %}
            <input type="submit" value="Save">
        </form>
{% endblock %}